# xcode noise
ProjectFolder/build/*
*.pbxuser
*.mode1v3
*.xcodeproj

# old skool
.svn

# osx noise
.DS_Store
profile

#Release Folder for Github
ProjectFolder/ObjectiveMatchy/*

#docs
ProjectFolder/hdoc/*